SERVER_HOST= # default 0.0.0.0
SERVER_PORT= # default 8080

DATABASE_URL=

CORS_ORIGIN=
CORS_METHODS=""
CORS_HEADERS=""

COOKIE_SECRET=
COOKIE_SECURE=

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_KEY=

SMTP_FROM_NAME=
SMTP_FROM=